:root {
    --padding-size: 16px;
}

body {
    font: 12px sans-serif;
    text-align: center;
    margin: 0px;
}

.window {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: var(--padding-size);
}

.searchInput {
    padding-left: 32px;
    background: url('/public/search.svg') no-repeat left;
    background-size: 32px;
    height: 40px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    font: 400 14px Inter, sans-serif;
    margin-bottom: calc(var(--padding-size) / 2);
}
.searchInput:focus {
    outline: none;
}

.searchStatus {
    display: flex;
    justify-content: flex-start;
    margin-bottom: calc(var(--padding-size) / 2);
}

.results {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    grid-gap: 8px;
}
.loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: calc(var(--padding-size) * 10) 0px;
}
.thumbnail {
    height: auto;
    width: 144px;
    transition-duration: 0.2s;
}
.thumbnail:hover {
    border-radius: 8px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 14px rgba(0, 0, 0, 0.15);
}
.thumbnail:active {
    transform: scale(1.03);
}

.chewtleDiv {
    display: flex;
    justify-content: center;
}
.chewtleButton {
    background-color: #61cbfb;
    background: url('/public/chewtle.png') no-repeat scroll 0 0 transparent;
    border-radius: 4px;
    color: white;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 0 5px;
    padding: 8px 16px;
    height: 32px;
    width: 148px;
    margin: calc(var(--padding-size) * 10) 0px;
    transition-duration: 0.2s;
}
.showingResults {
    margin: 0px;
}
.chewtleButton:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 14px rgba(0, 0, 0, 0.15);
}
.chewtleButton:active {
    transform: scale(0.97);
}
.hide {
    display: none;
}
